*{
    margin: auto;
}
.head1{
    text-align: center;
    color: darkorange;
    
    background-color: black;
    width: 100%;
    height: 50px;
    padding: 12px;
    font-family: sans-serif;
}
.head2{
    color: rgba(119, 194, 34, 0.404);
    margin-top: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1px;
    border: solid 5px  red;
    width: 18%;
    border-radius: 5px;
}

.head3{
    text-align: center;
    color: brown;
    padding-top: 0px;
    margin-left: 40px;
}

body{
    background-image: url(apna.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}


    
    

.nav{
    
    background-color: aqua;
    height: 45px;
    padding: 12px;
    text-align: center;
    font-family: cursive;
    font-size: large;

}
.nav a{
    padding: 40px;
    color: darkslategray;
    margin-left: 10px;
}

#nav .nav1 a{
    margin-left: 5px;
    margin-right: 10px;
    
}
.nav :hover{
     color: maroon;
}